/* conclusao.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinha o conteúdo no topo */
}

.container {
    margin: 20px auto; /* Centraliza a container horizontalmente */
    max-width: 800px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    text-align: left;
}

#info {
    margin-bottom: 20px;
}

button {
    margin-top: 20px;
}

.calendario {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.calendario th, .calendario td {
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
    vertical-align: top; /* Alinha o texto no topo */
}

.calendario th {
    background: #f0f0f0;
}

/* conclusao.css */

/* Outros estilos... */

.calendario td div {
    margin-top: 2px;
    line-height: 1em;
}

.calendario td {
    position: relative;
}

.calendario td::before {
    content: attr(data-day);
    position: absolute;
    top: 2px;
    left: 2px;
    font-weight: bold;
}

.calendario td div {
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.calendario td br {
    line-height: 0.5em; /* Ajuste a altura da linha para as quebras de linha */
}


@media print {
    body, html {
        height: auto; /* Permite que o conteúdo ocupe toda a página na impressão */
    }
    .container {
        box-shadow: none; /* Remove sombra na impressão */
        width: 100%; /* Ocupa toda a largura na impressão */
        max-width: none;
        padding: 0;
        margin: 0;
    }
    button {
        display: none; /* Oculta o botão na impressão */
    }
}
