/* Calendário */
.calendario {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff; /* Fundo branco */
    color: #333; /* Texto escuro */
}

.calendario th {
    background-color: #4CAF50; /* Verde escuro para cabeçalhos */
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1em;
}

.calendario td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    height: 100px; /* Altura fixa para células */
    width: 14.28%; /* Dividido igualmente em 7 colunas */
}

.calendario td:hover {
    background-color: #f1f1f1;
}

/* Cores alternadas para os fins de semana */
.calendario th:nth-child(1),
.calendario th:nth-child(7),
.calendario td:nth-child(1),
.calendario td:nth-child(7) {
    background-color: #f9f9f9;
}

/* Estilo para o container do calendário */
.container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    background: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para os títulos e textos */
h2, p {
    text-align: center;
    color: #333;
}

/* Botões */
button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049; /* Verde escuro */
}

/* Estilo dark mode */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode .calendario {
    background-color: #444;
    color: #fff;
}

body.dark-mode .calendario th {
    background-color: #555;
}

body.dark-mode .calendario td {
    border-color: #555;
}

body.dark-mode .container {
    background: rgba(50, 50, 50, 0.8);
}

body.dark-mode button {
    background-color: #555;
    color: #fff;
}

body.dark-mode button:hover {
    background-color: #666;
}

@media print {
    #anoCorrenteBtn, #proximoAnoBtn, button[onclick="window.print()"], button[onclick="toggleDarkMode()"] {
        display: none;
    }

    /* Garantir que os meses sejam impressos completos na mesma página */
    .calendario {
        page-break-inside: avoid;
    }
}

/* Pseudo-elemento para a imagem de fundo desfocada */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('papel de parede.png') no-repeat center center fixed;
    background-size: cover;
    filter: blur(10px);
    z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo */
}